/**
 * 全局变量
 * 命名规范 —— 遵守语义化命名：lg-大号、md-中号、base-基本号、sm-小号、mini-超小号
 */

 $font-weight-base: 400;
 $font-size-lg: 18px;
 $font-size-md: 16px;
 $font-size-base: 14px;
 $font-size-sm: 12px;
 $font-size-mini: 10px;

 $color-dark-blue: #1E3B67;

 $color-blue: #5095FD;

 $color-light-blue: #3CBDFE;

 $color-gray-blue: #9EBEEE;

 $color-light-green: #26C091;

 $color-light-red: #FF605E;

 $color-gray: #BBBBBB;

 $color-light-gray: #E6E6E6;

 $color-yellow: #FFE400;

 $color-light-black: #333333;
 